body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Habilita scroll para el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: sticky; /* Fija el título en la parte superior */
    top: 0;
    width: 100%;
    background-color: white; /* Fondo blanco */
    z-index: 10; /* Asegura que el título esté sobre otros elementos */
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.header .highlight {
    color: green;
}

.back-icon {
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 50px; /* Ajusta la posición del botón de retroceso */
    left: 10px; /* Alinea a la izquierda */
    display: none;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas */
    margin-top: 10px; /* Asegura que las tarjetas queden debajo del título */
    padding-bottom: 40px; /* Espacio al final para el scroll */
}

.plant-card {
    margin: 15px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.plant-card img {
    width: 100px;
    height: 100px;
}

.plant-card p {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}
