body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.header .highlight {
    color: green;
}



.back-icon {
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 30%; /* Aproximadamente 30px en una pantalla de 1080px de altura */
    left: -40%; 
    background: none;
    border: none;
    cursor: pointer;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.plant-card {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.3);
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
}

.plant-card img {
    width: 200px;
    height: 200px;
}

.plant-card p {
    font-size: 1.25rem;
    font-weight: bold;
}
